body{
    text-align: center;
}

img{
    width: 25rem;
}

section:last-child img{
    width: 17rem;
}

section:last-child div{
    margin-bottom: 3rem;
}

.code{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: left;
}

.fold{
    display: none
}