:root{
    --light: white;
    --dark: black;
    --primary: white;
    --secondary: lightgray;
}

*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.6rem;
}

table, tr,td{
    border-collapse: collapse;
    border: 1px solid var(--secondary);
    padding: 0.5rem 1rem;
}

