:root {
    --light: white;
    --dark: black;
    --primary: white;
    --secondary: lightgray;
}

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

td, th {
    border: 1px solid grey;
    padding: 5px;
}

th{
    background-color: var(--secondary);
}

tfoot, div:last-child{
    background-color:brown;
}

